<div id="module-container">
  <p-tabView>
    <p-tabPanel [header]="'home.administration.users.tabHeader' | translate"></p-tabPanel>
    <p-tabPanel [header]="'home.administration.signUpRequests.tabHeader' | translate">
      <p-table [value]="signUpRequests" [paginator]="true" [rows]="maxRowPerPage" [showCurrentPageReport]="true" currentPageReportTemplate="">
        <ng-template pTemplate="header">
          <tr>
            <th translate>home.administration.signUpRequests.table.header.firstName</th>
            <th translate>home.administration.signUpRequests.table.header.lastName</th>
            <th translate>home.administration.signUpRequests.table.header.email</th>
            <th translate>home.administration.signUpRequests.table.header.submitDate</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-signUpRequest>
          <tr>
            <td>{{ signUpRequest.firstName }}</td>
            <td>{{ signUpRequest.lastName }}</td>
            <td><a href="mailto:{{ signUpRequest.email }}">{{ signUpRequest.email }}</a></td>
            <td>{{ signUpRequest.date | date: 'short' }}</td>
            <td>
              <p-button
                type="button"
                styleClass="p-button-raised p-button-success p-button-text" class="p-mr-3"
                icon="pi pi-check"
                [label]="'home.administration.signUpRequests.table.body.acceptButton' | translate"
                (onClick)="acceptSignUpRequest(signUpRequest.id)">
              </p-button>
              <p-button
                type="button"
                styleClass="p-button-raised p-button-danger p-button-text" class="p-mr-3"
                icon="pi pi-times"
                [label]="'home.administration.signUpRequests.table.body.rejectButton' | translate"
                (onClick)="rejectSignUpRequest(signUpRequest.id)">
              </p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
    <p-tabPanel [header]="'home.administration.privileges.tabHeader' | translate"></p-tabPanel>
    <p-tabPanel [header]="'home.administration.settings.tabHeader' | translate"></p-tabPanel>
  </p-tabView>
</div>
