// ----------------------------------------
// HEADER :
// ----------------------------------------

// Header :
$home-layout-header-height: 80px;
$home-layout-header-padding: 12px 16px;
$home-layout-header-bkg-color: $global-primary-bkg-color;
$home-layout-header-border-color: #393939;

// Content :
$home-layout-content-bkg-color: $global-secondary-bkg-color;
