// Import variables :
@import "home-theme-variables";


// ----------------------------------------
// GLOBAL STRUCTURES :
// ----------------------------------------

.section {
  background-color: $global-primary-bkg-color;
  border-radius: $global-border-radius;
  padding: $global-padding;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: unset;
  margin: unset;
}

.loader {
  background-color: $global-skeleton-bkg-color !important;

  &.progress {
    background-image: linear-gradient(90deg,rgba(255,255,255,0),rgba(255,255,255,.1),rgba(255,255,255,0)) !important;
  }
}

// ----------------------------------------
// HOME LAYOUT :
// ----------------------------------------

#home-container {
  display: grid;
  grid-template-rows: $home-layout-header-height 1fr;
  grid-template-columns: 1fr;

  height: 100%;

  #app-header {
    user-select: none;

    background-color: $home-layout-header-bkg-color;
    border-bottom: 1px solid $home-layout-header-border-color;
    padding: $home-layout-header-padding;

    #app-header-text {
      font-size: 24px;
      margin-right: $home-layout-header-text-spacing;
    }

    .app-header-nav-button {
      margin-right: $global-spacing;
    }
  }

  #app-content {
    background-color: $home-layout-content-bkg-color;
    max-height: 100%;
    overflow: auto;
  }
}

.global-text-line-through {
  text-decoration: line-through;
}



// ----------------------------------------
// PROFILE LAYOUT :
// ----------------------------------------

#home-layout-profile-container {
  width: 600px;
  margin-top: $global-spacing;
  padding-bottom: $global-spacing;
}
