// Import variables :
@import "login-theme-variables";


// ----------------------------------------
// LOGIN LAYOUT :
// ----------------------------------------

#login-wallpaper {
  background: url("../../images/login_background.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  #login-section {
    display: block;
    width: 500px;

    #welcome-message {
      display: block;
      text-align: center;
      margin-top: unset;
      margin-bottom: $login-layout-logo-spacing;
      font-size: $login-layout-logo-font-size;
    }
  }
}
