/* You can add global styles to this file, and also import other style files */

@import 'src/assets/theme/global-variables';

@import 'src/assets/theme/login-theme/login-theme';
@import 'src/assets/theme/home-theme/home-theme';

html, body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100vw;

  font-family: $global-font-family;
  color: $global-primary-font-color;
}

a {
  color: $global-primary-font-color;

  &:hover {
    text-decoration: none;
  }
}
